In [4]:
import numpy as np
import pandas as pd

In [7]:
import requests
import json

## Working on the newly created data

In [5]:
df = pd.read_csv("C:/Users/hp/Desktop/Sorted Questions 29.12.18.csv",header=-1)
df.rename({0:'QUESTION'},axis=1,inplace = True)
df.head()

                                            QUESTION
0                (Avg. of 42 ) : What is a SQL view?
1  How secure are encrypted stored procedures  tr...
2   2. Why we cant create object for abstract class?
3  14. Can objects of the same Schema reside in d...
4              ? Case in which fcfs is the best algo

In [6]:
len(df)

88

In [146]:
question_bank = pd.read_csv("C:/Users/hp/Desktop/Sorted Questions 29.12.18.csv",header = -1)
question_bank.rename({0:'question'},axis =1,inplace=True)
question_bank['question'] = question_bank['question'].apply(lambda x: ''.join([" " if ord(i) < 32 or ord(i) > 126 else i for i in x]))
question_bank['Key'] = None
question_bank.head()

                                            question   Key
0                (Avg. of 42 ) : What is a SQL view?  None
1  How secure are encrypted stored procedures  tr...  None
2   2. Why we cant create object for abstract class?  None
3  14. Can objects of the same Schema reside in d...  None
4              ? Case in which fcfs is the best algo  None

In [147]:
x =0 
headers = {
    'Content-Type': 'application/json',
}

params = (
    ('version', '2018-11-16'),
)
l =0
superdict = {}
while l < len(question_bank):
    qst = question_bank.question[l]
    print l
    data = {  "text": qst ,  "features": {  "keywords": {}  }}
    response = requests.post('https://gateway-lon.watsonplatform.net/natural-language-understanding/api/v1/analyze?version=2018-11-16', headers=headers, data=json.dumps(data), auth=('apikey', 'Lx2p1c8OuwYfFdK-dYLaZn58JZfrmyJH9de7uS9lt5m1'))
    b = response.text.encode('utf8')
    while b.find('"text"')!= -1:
        x = b.find('"text"')
        x = x+9
        text = ''
        while b[x] != '"' :
            text = text + b[x]
            x=x+1
        b=b.replace('"text"',' ',1)
        new_text=  '"' +text+'"'
        text = text.split(' ')
        while '' in text:
              text.remove('')
        text = ' '.join(text)
        b=b.replace(new_text,' ',1)
        x = b.find('"relevance"')
        x = x + 13
        rel =''
        while b[x] != ',':
            rel = rel + b[x]
            x = x+1
        b = b.replace('"relevance"',' ',1)
        b = b.replace(rel,' ',1)
        x = b.find('"count"')
        x = x+9
        count = ''
        while b[x] != '\n':
            count = count + b[x]
            x = x+1
        b = b.replace('"count"',' ',1)
        if question_bank.Key[l] == None:
            question_bank.Key[l] = {}
        question_bank.Key[l].update({text:[rel,count]})
        if text not in superdict.keys():
            superdict.update({text:float(count)})
        else:
            superdict[text]=superdict[text] + float(count)
    l = l+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87

In [47]:
def extract_second(ele):
    return ele[1]

In [149]:
question_bank['bi']=[[] for _ in range(len(df))]
question_bank['tri']=[[] for _ in range(len(df))]
question_bank['uni']=[[] for _ in range(len(df))]
question_bank['poly']=[[] for _ in range(len(df))]

In [150]:
x = 0

while x<len(question_bank):
    l = question_bank.Key[x].keys()
    qst = question_bank.Key[x]
    count = 0
    for y in l:
        g = [y,question_bank.Key[x][y][0],question_bank.Key[x][y][1]]
        if y.count(' ') == 0:
            question_bank.uni[x].append(g)
        elif y.count(' ') == 1:
            question_bank.bi[x].append(g)
        elif y.count(' ') == 2:
            question_bank.tri[x].append(g)
        else:
            question_bank.poly[x].append(g)
    x = x+1

In [151]:
x = 0
while x < len(question_bank):
    question_bank.uni[x].sort(key=extract_second,reverse=True)
    question_bank.bi[x].sort(key=extract_second,reverse=True)
    question_bank.tri[x].sort(key=extract_second,reverse=True)
    question_bank.poly[x].sort(key=extract_second,reverse=True)
    x = x+1

In [153]:
question_bank[['question','bi','tri','uni']]

,question,bi,tri,uni
0,(Avg. of 42 ) : What is a SQL view?,"[[SQL view, 0.999398, 1]]",[],"[[Avg, 0.82613, 1]]"
1,How secure are encrypted stored procedures tr...,"[[procedures triggers, 0.87709, 1]]",[],"[[views, 0.613217, 1]]"
2,2. Why we cant create object for abstract class?,"[[abstract class, 0.925806, 1]]",[],"[[object, 0.812132, 1]]"
3,14. Can objects of the same Schema reside in d...,"[[different tablespaces, 0.801091, 1]]",[],"[[objects, 0.899735, 1], [Schema, 0.704642, 1]]"
4,? Case in which fcfs is the best algo,"[[best algo, 0.950288, 1]]",[],"[[Case, 0.937512, 1], [fcfs, 0.109347, 1]]"
5,3. Mention four Object Oriented Programming La...,"[[Programming Languages, 0.99075, 1]]",[],"[[Mention, 0.919812, 1], [Object, 0.788983, 1]]"
6,What is the basic form of a SQL statement to r...,[],[],"[[data, 0.61055, 1], [table, 0.591658, 1]]"
7,How are modified extents tracked in SQL Server...,"[[SQL Server, 0.986402, 1], [internal structur...",[],"[[extents, 0.755845, 1]]"
8,Can a unique key take many NULL values?,"[[unique key, 0.988894, 1], [NULL values, 0.01...",[],[]
9,What is the difference between foreign key and...,"[[foreign key, 0.966176, 1], [reference key, 0...",[],"[[difference, 0.925387, 1]]"
10,7) How can you implement inheritance in C++?,[],[],"[[inheritance, 0.807875, 1]]"
11,When you install SQL Server 2005 and create a ...,"[[SQL Server, 0.995832, 1], [new database, 0.6...","[[Database Master Key, 0.223169, 1]]",[]
12,Referring to the sample code above if an obje...,"[[sample code, 0.921505, 1]]","[[object of class, 0.724514, 1], [instances of...","[[myprofessor, 0.082548, 1]]"
13,1. What are the advantages of Object oriented ...,[],"[[advantages of Object, 0.99869, 1]]","[[languges, 0.00131, 1]]"
14,What is the significance of the & and && opera...,"[[PL SQL, 0.950288, 1]]",[],"[[significance, 0.937512, 1], [operators, 0.81..."
15,How is Thesaurus data configured in SQL Server...,"[[Thesaurus data, 0.98886, 1], [SQL Server, 0....",[],[]
16,102. Can you store objects in library?,[],[],"[[objects, 0.844133, 1], [library, 0.765931, 1]]"
17,TR: What is Thread and why are they used?,[],[],"[[Thread, 0.844133, 1], [TR, 0.672156, 1]]"
18,10)what happens when any keyboard key is press...,"[[abt WM, 0.92793, 1], [keyboard key, 0.338474...",[],[]
19,2)page caching output caching?,[],[],[]
20,11) what are the cpu scheduling algorithms you...,[],[],"[[cpu, 0.937512, 1], [algorithms, 0.736395, 1]]"
21,hr-tell me about foreign key and primary key?,"[[primary key, 0.814928, 1]]",[],"[[hr, 0.185072, 1]]"
22,Thread used in screw jack lead screw?,[],[],"[[Thread, 0.894387, 1]]"
23,The above SQL statement is correct or not? (qu...,[],"[[above SQL statement, 0.995236, 1]]","[[question, 0.745158, 1]]"
24,4) how can u initialize a function which has d...,[],[],"[[function, 0.78636, 1], [classes, 0.715719, 2]]"
25,>Do you think java is secure and why?,[],[],"[[java, 0.736395, 1]]"
26,Q- What is deadlock and blocking with respect ...,[],[],"[[deadlock, 0.788983, 1], [respect, 0.672861, ..."
27,7. Two buffer ckt were given what is the diffe...,"[[buffer ckt, 0.990015, 1], [difference b, 0.0...",[],[]
28,Credentials in SQL Server 2005 are used to acc...,"[[SQL Server, 0.999683, 1]]",[],"[[Credentials, 0.919812, 1]]"
29,When you install SQL Server 2005 and create a ...,"[[SQL Server, 0.995832, 1], [new database, 0.6...","[[Database Master Key, 0.223169, 1]]",[]
...,...,...,...,...
58,What does the Queue Reader Agent do in SQL Ser...,"[[SQL Server, 0.971621, 1]]","[[Queue Reader Agent, 0.998939, 1]]","[[replication, 0.591658, 1]]"
59,91. What is difference between UNIQUE and PRIM...,[],"[[PRIMARY KEY constraints, 0.958188, 1]]","[[difference, 0.919812, 1], [UNIQUE, 0.106555,..."
60,Which of the following columns can be indexed ...,"[[SQL Server, 0.986622, 1], [Full-Text Search,...",[],"[[columns, 0.739127, 1]]"
61,16. For every table IS foreign key mandato...,[],"[[foreign key mandatory, 0.971924, 1]]","[[table, 0.937512, 1]]"
62,44. ip-sec is an internet security mechanism f...,[],"[[internet security mechanism, 0.971924, 1]]","[[sec, 0.937512, 1]]"
63,10) What happens when any keyboard key is pres...,"[[abt WM, 0.92793, 1], [keyboard key, 0.338474...",[],[]
64,2.What is Runtime Polymorphism ?,"[[Runtime Polymorphism, 0.5, 1]]",[],[]
65,23. if the selling price of an object is rs.23...,"[[cost price, 0.446815, 1]]",[],"[[profit, 0.701157, 1]]"
66,5. What are the different CPU scheduling algor...,"[[different CPU, 0.99985, 1]]",[],"[[algorithms, 0.672861, 1], [OS, 0.644458, 1]]"
67,In SQL Server 2005 which of the following sch...,"[[SQL Server, 0.999883, 1], [schema changes, 0...",[],"[[database, 0.555596, 1]]"
68,30. Which scheduling technique is used in Wind...,"[[scheduling technique, 0.986729, 1], [Windows...",[],"[[technique, 0.687469, 1], [UNIX, 0.601046, 1]..."
69,16. Are CPU Scheduling and Process Scheduling ...,"[[CPU Scheduling, 0.998646, 1]]",[],"[[Process, 0.775061, 1]]"
70,There are two types of subscriptions in SQL Se...,[],"[[types of subscriptions, 0.786624, 1], [SQL S...",[]
71,The above SQL statement is correct or not?,[],"[[above SQL statement, 0.5, 1]]",[]
72,Referring to the sample code above if an obje...,"[[sample code, 0.940802, 1]]","[[object of class, 0.632216, 1]]","[[yprofessor, 0.035312, 1]]"
73,Can one use dynamic SQL within PL/SQL? OR Can ...,"[[dynamic SQL, 0.987054, 1]]",[],"[[procedure, 0.622897, 1], [SQL, 0.597145, 1],..."
74,13. how does inheritance relate 2 abstraction?,[],[],"[[inheritance, 0.957921, 1], [abstraction, 0.7..."
75,29. What is scheduling? What are the schedulin...,[],[],"[[techniques, 0.82613, 1]]"
76,6.How is Encapsulation implemented and an exam...,[],[],"[[Encapsulation, 0.957921, 1], [example, 0.765..."
77,Get Object ? To get the reference to an existi...,[],[],"[[reference, 0.803861, 1], [Object, 0.693473, 2]]"
78,9.why is object oriented programming useful?,[],[],"[[object, 0.937512, 1]]"
79,In SQL Server 2005 can you include a user-def...,"[[SQL Server, 0.999854, 1]]",[],"[[user, 0.701151, 1], [role, 0.667487, 2]]"
80,- How can we achieve multiple inheritance in J...,[],[],"[[inheritance, 0.736395, 1], [Java, 0.690082, 1]]"
81,many threads do u want for this?,[],[],"[[threads, 0.812132, 1]]"
82,C is an objective oriented language - yes or no?,[],[],"[[language, 0.690082, 1]]"
83,What does REVERT do in SQL Server 2005?,"[[SQL Server, 0.999967, 1]]",[],[]
84,22. can a database table exist without a prima...,"[[database table, 0.990015, 1], [primary key, ...",[],[]
85,Can a particular event in SQL Server 2005 suc...,"[[particular event, 0.999399, 1], [SQL Server,...","[[CREATE USER command, 0.368942, 1]]",[]
86,1. Java basics what is object class abstract...,"[[Java basics, 0.915605, 1]]",[],[]
87,- What is encapsulation in C++?,[],[],"[[encapsulation, 0.952402, 1]]"

In [26]:
#superdict

In [88]:
#question_bank.drop('bi',axis =1,inplace=True)

In [90]:
question_bank.Key[0]

{'Avg': ['0.82613', '1'], 'SQL view': ['0.999398', '1']}

In [152]:
question_bank.head()

,question,Key,bi,tri,uni,poly
0,(Avg. of 42 ) : What is a SQL view?,"{u'Avg': [u'0.82613', u'1'], u'SQL view': [u'0...","[[SQL view, 0.999398, 1]]",[],"[[Avg, 0.82613, 1]]",[]
1,How secure are encrypted stored procedures tr...,"{u'procedures triggers': [u'0.87709', u'1'], u...","[[procedures triggers, 0.87709, 1]]",[],"[[views, 0.613217, 1]]",[]
2,2. Why we cant create object for abstract class?,"{u'abstract class': [u'0.925806', u'1'], u'obj...","[[abstract class, 0.925806, 1]]",[],"[[object, 0.812132, 1]]",[]
3,14. Can objects of the same Schema reside in d...,"{u'objects': [u'0.899735', u'1'], u'different ...","[[different tablespaces, 0.801091, 1]]",[],"[[objects, 0.899735, 1], [Schema, 0.704642, 1]]",[]
4,? Case in which fcfs is the best algo,"{u'Case': [u'0.937512', u'1'], u'fcfs': [u'0.1...","[[best algo, 0.950288, 1]]",[],"[[Case, 0.937512, 1], [fcfs, 0.109347, 1]]",[]

In [50]:
w = [[1,10,3],[4,9,6],[7,20,9],[10,11,12]]
w.sort(key=extract_second,reverse=True)

In [154]:
tots = 'procedure   triggers'
len(tots)

20

In [155]:
tots = (tots.split(' '))
tots

['procedure', '', '', 'triggers']

In [156]:
tots.remove('')

In [157]:
len(' '.join(tots))

19