In [71]:
import string

In [2]:
import nltk
from nltk.corpus import stopwords

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
import numpy as np
import pandas as pd

## Working on the newly created data

In [96]:
df = pd.read_csv("C:/Users/hp/Desktop/Test.csv")
df.head()

            SUBJECT TOPIC                                           QUESTION
0  operating system  fcfs                                                NaN
1               NaN   NaN  a) the number on the overview screen correspon...
2               NaN   NaN              ? case in which fcfs is the best algo
3               NaN   NaN  to effectively handle security  you want to mi...
4               NaN   NaN  38. security functionality is provided by whic...

In [97]:
len(df)

730

Removing non ascii characters and filling NaN with white space

In [98]:
df.fillna(" ",inplace=True)
df["QUESTION"] = df["QUESTION"].apply(lambda x: ''.join([" " if ord(i) < 32 or ord(i) > 126 else i for i in x]))
df.head()

            SUBJECT TOPIC                                           QUESTION
0  operating system  fcfs
1                          a) the number on the overview screen correspon...
2                                      ? case in which fcfs is the best algo
3                          to effectively handle security  you want to mi...
4                          38. security functionality is provided by whic...

Creating a dictionary of topics and empty lists to be filled

In [187]:
d = {}
topic_df = df[df["TOPIC"]!=" "]["TOPIC"]
topic_df.reset_index(drop=True,inplace=True)
x =0
while x<len(topic_df):
    d.update({topic_df[x]:[]})
    x = x+1
x =0

Removing punctuations and numbers; removing redundant words in same sentence and filling the dictionary with questions relating to topic

In [ ]:
exclude = set(string.punctuation)
while x<len(df):
    if df['QUESTION'][x] == " ":
        topic = df['TOPIC'][x]
    else:
        p =df['QUESTION'][x]
        re = string.maketrans(string.punctuation,' '*len(string.punctuation))
        p = p.translate(re)
        r = "".join([o for o in p if not (o.isdigit() or o[0] == '-' and o[1:].isdigit())])
        d[topic].append(" ".join(list(set(r.split(" ")))))
    x = x+1

Creating dataframe of topics

In [239]:
secondary = df[df['QUESTION']== " "]['TOPIC']
secondary.reset_index(drop=True,inplace=True)
secondary=secondary.to_frame()
l = np.arange(len(secondary))
secondary.set_index(l)

            TOPIC
0            fcfs
1             dml
2            jdbc
3          joints
4       buffering
5          applet
6        deadlock
7             ddl
8    polymorphism
9         caching
10         thread
11       security
12     scheduling
13    inheritance
14  encapsulation
15    transaction
16         object
17            sql
18           keys

Creating new column for words to match

In [279]:
x ="MAtCH_WORDS"
secondary[x]=[[] for k in secondary.TOPIC]

In [245]:
#secondary.drop('MAtCH WORDS',axis =1,inplace =True)

In [280]:
secondary

            TOPIC MAtCH_WORDS
0            fcfs          []
1             dml          []
2            jdbc          []
3          joints          []
4       buffering          []
5          applet          []
6        deadlock          []
7             ddl          []
8    polymorphism          []
9         caching          []
10         thread          []
11       security          []
12     scheduling          []
13    inheritance          []
14  encapsulation          []
15    transaction          []
16         object          []
17            sql          []
18           keys          []

Using CountVectorizer to check frequency of specific words; training on vocabulary

In [270]:
s =0
while s<len(secondary):
    cv = CountVectorizer(stop_words= 'english')
    cvtrain = cv.fit_transform(d[secondary.TOPIC[s]])
    b =cv.transform(d[secondary.TOPIC[s]])
    
    
    a =cvtrain.toarray()
    
    total = np.zeros(len(cv.get_feature_names()))
    
    #calculating 
    x = 0
    y = 0
    feature = cv.get_feature_names()
    for x in range(len(feature)):
        for y in range(len(a)):
            total[x] = total[x] + cvtrain[y,x]
    
    #arranging the indexes wrt to decreasing order of values obtained
    index = np.zeros(len(total))
    for x in range(len(total)):
        index[x] = np.argmax(total)
        total[np.argmax(total)]= -1
    #storing top 10 most frequently used words wrt a topic  
    for x in index[:10]:
        secondary.MAtCH_WORDS[s].append(feature[int(x)])
    print s
    s = s+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

Reading questions dataset and making appropriate changes for processing

In [262]:
question_bank = pd.read_csv("C:/Users/hp/Desktop/500_questions.csv")
question_bank['question'] = question_bank['question'].apply(lambda x: ''.join([" " if ord(i) < 32 or ord(i) > 126 else i for i in x]))

question_bank.drop('Unnamed: 0',axis = 1, inplace = True)
x = 0
while x<question_bank.shape[0]:
    question_bank.iloc[x].question = question_bank.iloc[x].question.lower()
    x = x+1

In [282]:
question_bank

,question,fcfs,dml,jdbc,joints,buffering,applet,deadlock,ddl,polymorphism,caching,thread,security,scheduling,inheritance,encapsulation,transaction,object,sql,keys
0,(avg. of 42 ) : what is a sql view?,0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,1,1
1,question involving primary key integrity const...,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2
2,how secure are encrypted stored procedures tr...,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,8. a candidate appearing for an examinatio n ...,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0
4,consider the following areas for tuning. the o...,1,3,0,1,4,1,1,3,0,4,0,2,1,1,2,3,1,3,2
5,2. why we cant create object for abstract class?,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,3,0,0
6,6.transfering of pages from memory to peripher...,0,0,0,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0
7,there are 30 questions in which 2 are star que...,0,3,0,2,0,1,0,0,0,0,2,1,0,0,0,0,1,1,3
8,a) infopackage ' scheduler ' repair reques...,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
9,an anchoring object is a print condition objec...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0
10,it is difficult to use database objects declar...,0,2,0,0,2,1,0,1,0,2,0,1,0,1,1,2,3,2,1
11,14. can objects of the same schema reside in d...,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,2,1,1
12,25. when an object is seen from front side we ...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
13,? case in which fcfs is the best algo,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,10. how does the scheduler know the time how i...,0,0,1,0,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0
15,multiple inheritance (2 questions),0,1,0,1,0,0,0,0,1,0,1,0,0,2,1,0,1,1,1
16,32) in scheduling algorithms which are logical...,2,0,0,0,1,0,0,0,0,0,0,0,2,0,0,1,0,0,0
17,"coding "" decoding blood relations directiona...",0,1,0,0,2,1,0,0,0,2,0,1,0,0,1,2,3,2,2
18,7: what can not be used in object names.,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
19,some background on this: c++ supports multiple...,0,1,0,1,0,0,0,0,1,0,0,0,1,5,1,0,1,0,1
20,3. mention four object oriented programming la...,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,2,0,0
21,d) alter table employee drop primary key emplo...,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,3
22,what is the basic form of a sql statement to r...,0,2,0,1,1,1,0,1,1,2,1,1,0,0,2,2,1,3,3
23,how are modified extents tracked in sql server...,0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,2,1
24,4. the effect of the rollback command in a tra...,0,0,0,0,1,0,2,1,0,0,0,0,1,0,0,2,0,0,0
25,2. sql/plsql see all commands in sql and e...,0,1,0,1,0,1,0,3,0,0,0,0,0,0,0,1,0,1,1
26,79. when head is moving back and forth the di...,2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
27,16. in public key encryption if a wants to se...,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
28,can a unique key take many null values?,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
29,what is the difference between foreign key and...,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,each fact table can contain a maximum of 233 k...,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,2
471,can a particular event in sql server 2005 suc...,0,2,0,1,0,1,0,5,0,0,0,0,0,0,0,1,1,2,1
472,b) foreign key integrity rule :: the fkir deno...,0,2,0,0,1,1,0,0,0,2,0,1,0,0,1,1,1,2,4
473,in dbms difference between dbms and rdbms jo...,0,1,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
474,a. a public key b. a private key c. ...,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
475,so one must be through with all the java conc...,0,3,3,5,1,2,0,1,4,2,3,3,1,1,2,2,4,6,5
476,a rating method appraising mangers against ve...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0
477,10. which is more important in a sql query in ...,0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,1,1
478,this agent is tasked with reading the transact...,1,1,1,1,2,0,2,0,1,0,0,2,0,1,1,3,0,1,1
479,drive was scheduled for 2 days actually but th...,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0
480,later the hr round was quite simple. i was ask...,0,3,1,2,0,1,1,0,1,0,1,1,0,1,1,0,0,1,3
481,in this there were to rounds in which a commo...,0,1,0,2,0,1,0,0,1,0,0,0,0,0,0,0,0,1,3
482,multiple database support : oracle has a super...,0,2,0,0,3,0,1,1,0,2,0,1,0,1,1,3,1,2,1
483,the result was declared on 10th of august and ...,0,0,0,0,0,0,0,0,0,0,0,1,3,0,0,0,0,0,1
484,7. he asked about inheritance polymorphism a...,0,1,1,1,0,0,1,0,4,0,0,1,0,5,4,0,0,1,1
485,pl/sql v2.2 available with oracle7.2 impleme...,1,1,4,1,0,2,0,2,0,1,1,0,1,0,0,1,1,2,2
486,objects from unsigned clr assemblies with exte...,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,2,0,0
487,anyhow we were made to sit in room and the hr...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0
488,rollback retracts any of the changes resulting...,0,1,0,1,1,1,1,1,0,0,0,0,0,0,0,5,0,1,1
489,we can score maximum of our marks in last two ...,1,1,0,0,0,1,0,0,0,0,0,2,0,0,0,0,1,0,1
490,1. java basics what is object class abstract...,0,0,0,1,0,2,0,0,6,0,2,0,0,6,4,0,2,1,0
491,object auditing is the auditing of accesses to...,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,2,0,0
492,in sql learn for - commands that are somewhat ...,0,1,0,2,0,1,0,3,1,0,0,0,0,0,0,1,0,2,2
493,- what is encapsulation in c++?,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0
494,type export should be performed complete cumul...,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,3,1,0,0
495,answer 10: (moment he said this mind was like ...,1,3,3,2,1,1,2,0,2,0,2,3,1,1,1,1,0,2,4
496,68. a______ class is a class that represents a...,0,1,0,0,1,1,0,0,0,1,0,1,0,1,1,1,4,1,1
497,the sql writer service was introduced to handl...,0,2,1,2,1,1,1,1,1,2,1,1,0,0,1,2,1,4,3
498,it is the method of dividing a table which wou...,0,2,0,1,1,1,0,1,0,2,0,1,0,0,1,2,1,4,3
499,14. there is an employer table with key fields...,1,2,0,0,1,1,1,0,0,2,0,2,1,0,1,1,1,3,3

Topicwise scoring initialisation to 0

In [266]:
x = 0
while x<len(secondary):
    topic = secondary.TOPIC[x]
    question_bank[topic]=0
    x = x+1

Scoring by matching the number of words that match the MAtch_WORDS column of secondary

In [271]:
x = 0
while x<len(secondary):
    y = 0
    while y<len(secondary.MAtCH_WORDS[x]):
        z =0
        while z<len(question_bank):
            if question_bank.question[z].find(secondary.MAtCH_WORDS[x][y])!= -1:
                question_bank[secondary.TOPIC[x]][z] = question_bank[secondary.TOPIC[x]][z]+1
            z= z+1
        y =y+1
    x = x+1

C:\Users\hp\Anaconda2\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

After sorting we can get the highly frequent questions that are asked in interviews

In [273]:
q = question_bank.copy()

In [284]:
q.sort_values('inheritance',axis=0,ascending=False)

,question,fcfs,dml,jdbc,joints,buffering,applet,deadlock,ddl,polymorphism,caching,thread,security,scheduling,inheritance,encapsulation,transaction,object,sql,keys
490,1. java basics what is object class abstract...,0,0,0,1,0,2,0,0,6,0,2,0,0,6,4,0,2,1,0
118,7. he asked about inheritance polymorphism a...,0,1,1,1,0,0,1,0,5,0,0,1,0,6,5,0,0,1,1
112,correct answer: data abstraction data encapsu...,0,2,0,0,1,0,0,0,4,1,1,1,0,5,5,1,1,1,1
484,7. he asked about inheritance polymorphism a...,0,1,1,1,0,0,1,0,4,0,0,1,0,5,4,0,0,1,1
19,some background on this: c++ supports multiple...,0,1,0,1,0,0,0,0,1,0,0,0,1,5,1,0,1,0,1
349,he: can you explain how would you use java oop...,0,0,2,2,0,1,1,0,6,0,3,0,0,5,5,0,0,2,1
256,correct answer: data abstraction data encapsu...,0,2,0,0,1,0,0,0,4,1,1,1,0,5,5,1,1,1,1
185,3) core java concepts like inheritance polymo...,0,0,1,3,0,1,0,0,4,0,1,0,0,4,2,0,0,2,1
133,tech rnd2: threads again they told to write p...,0,0,1,0,0,0,1,0,3,0,3,0,0,4,3,0,0,0,0
74,a. private: b'coz the private inheritance make...,0,1,1,0,0,0,0,0,1,0,0,0,0,4,1,0,1,0,0
209,15. what is accessibility of a protected membe...,0,1,0,0,0,0,0,0,0,1,0,0,0,4,0,0,1,0,0
266,the questions were very simple like about the ...,1,2,0,3,0,2,0,0,5,0,4,1,0,4,3,0,1,3,3
326,he asked to draw the architecture of 8085 in ...,0,1,1,1,0,0,1,0,3,0,0,1,0,4,3,0,0,1,1
140,constructors-destructors; dynamic binding; pol...,1,0,0,0,0,0,0,0,3,0,0,0,0,3,2,0,0,0,0
285,he asked me diff btwn array n linked list pol...,0,1,1,1,0,0,1,0,4,0,1,1,0,3,4,0,0,1,1
450,i explained polymorphism inheritance.,0,0,0,0,0,0,0,0,2,0,0,0,0,3,3,0,0,0,0
389,13. how does inheritance relate 2 abstraction?,0,0,0,0,0,0,0,0,2,0,0,0,0,3,2,0,0,0,0
73,4) how can u initialize a function which has d...,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,1,0,0
163,he asked about what is polymorphism inheriten...,0,1,1,1,0,0,1,0,2,0,0,1,0,3,2,0,0,1,1
458,- how can we achieve multiple inheritance in j...,0,0,0,1,0,1,0,0,2,0,1,0,0,3,1,0,0,1,0
46,one additional key difference between interfac...,0,1,0,0,0,1,0,0,0,0,0,0,0,3,0,0,1,0,1
269,4. which of the following statements is true w...,0,1,0,0,0,0,1,0,0,0,0,0,1,3,0,1,1,0,0
377,- c++ questions like polymorphism runtime pol...,0,1,0,2,0,0,0,0,3,1,1,1,0,3,2,0,1,2,2
108,an abstract class is a partial implementation ...,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,1,0,0
210,i attended virtusa written test in hyderabad. ...,0,4,1,6,0,2,1,1,2,0,2,1,0,3,1,2,2,4,3
86,c++ (oops inheritance polymorphism etc) just b...,0,0,1,0,0,0,0,0,4,0,1,0,0,3,3,0,0,0,0
106,then he asked me to tell oops concepts inheri...,0,1,8,2,0,1,1,0,2,0,0,1,0,3,2,0,0,1,1
362,one additional key difference between interfac...,0,1,0,0,0,1,0,0,0,0,0,0,0,3,0,0,1,0,1
114,constructors-destructors; dynamic binding; pol...,1,0,0,0,1,1,0,0,3,0,0,0,0,3,2,0,0,0,0
423,yes partially. 1) property class - inheritan...,0,0,0,0,0,0,0,0,1,0,0,0,0,3,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,the key here is confidence soft skills and mo...,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
158,1.how mant primary keys can exist for a table,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,3
157,11) how many keys are needed in symmetric and ...,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1
156,a. a public key b. a private key c. ...,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
186,in sql server 2005 what does instance aware m...,0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,2,1
189,you have installed a us english sql server 200...,0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,2,1
221,basic sql queries. for union joins differenc...,0,1,0,3,0,1,0,1,1,0,1,0,0,0,1,1,0,2,1
190,which of the following modules within sql serv...,0,1,0,1,0,1,1,1,0,0,0,0,1,0,0,1,0,2,1
220,table functions are designed to return a set o...,0,1,0,1,2,3,0,1,0,1,0,0,0,0,0,2,0,2,2
219,13) relation between primary key foreign key,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2
218,5) question on data objects and constraints,0,1,0,0,1,1,0,0,0,1,0,1,0,0,1,1,3,1,1
216,tables a b & c each contain 100 rows & the pr...,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,3
215,a) the key word friend b) the key word friend ...,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
214,time is key in this sections. you have to mana...,0,2,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,0,1
212,can one use dynamic sql within pl/sql? or can ...,1,2,0,1,0,1,0,2,0,0,0,0,0,0,0,1,0,1,1
211,also very imp. that only put things in your re...,0,1,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1
208,58)a relation schema r is in bcnf if it is in ...,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
207,to effectively handle security you want to mi...,4,1,0,0,1,0,0,0,0,2,0,4,0,0,1,1,1,2,2
205,what do you know about ado.net?s objects and m...,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0
204,imagine this scenario: i/o completion ports ar...,1,1,1,0,2,2,2,0,0,2,2,1,0,0,1,1,1,1,1
203,ora-00001: unique constraint (...) violated - ...,0,0,0,0,0,1,1,1,0,1,0,0,0,0,0,0,2,1,1
202,8) deadlocks and i told abt 4 conditons of d...,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0
200,b. read is done when the transaction is not ye...,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
199,in unmanaged environments the compiler and lin...,0,0,3,0,2,3,0,1,0,3,1,1,1,0,0,0,1,1,1
196,export all of the objects from the tablespace,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,2,1,1
195,ans-to convert implicit object into explicit a...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
194,while all of these are valid encryption algori...,2,1,0,1,0,1,0,1,0,0,0,1,1,0,0,1,0,2,1
193,117. can object group have a block?,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
191,there was upper limit for cut off. students wh...,0,0,0,0,0,0,0,0,0,0,0,3,1,0,0,1,0,0,1
499,14. there is an employer table with key fields...,1,2,0,0,1,1,1,0,0,2,0,2,1,0,1,1,1,3,3